{% extends 'base-admin.html.twig' %}

{% block title %}
    Gestion de la base de données - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container mt70">
        <h1>Gestion de la base de données</h1>
    </div>
{% endblock %}