{% extends 'base-admin.html.twig' %}

{% block title %}
    Gestion des commentaires - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container mt70">
        <h1>Gestion des commentaires</h1>
    </div>
{% endblock %}