{% extends 'base-admin.html.twig' %}

{% block title %}
    Mes observations - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container mt70">
        <h1>Mes observations</h1>
    </div>
{% endblock %}