{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="card">
        <div class="card-body">
            <h3 class="caed-title">Information</h3>
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
        </div>
    </div>
{% endblock fos_user_content %}
