{# app/Resources/views/mail/account-promote-model.html.twig #}

<img src="{{ image }}" /> <h2>Observons-nao</h2>

<p>
    Nos Amis les Oiseaux ont le plaisir de vous informer que
    votre compte <strong>"{{ object.username }}"</strong> a été promu. Vous êtes désormais considéré comme Naturaliste
    avec la possibilité de valider des observations.
</p>

