{# app/Resources/views/mail/account-blocked-model.html.twig #}

<img src="{{ image }}" /> <h2>Observons-nao</h2>

<p>
    Nos Amis les Oiseaux vous informe que
    votre compte <strong>"{{ object.username }}"</strong> a été activé.
</p>

