{# app/Resources/views/mail/comment-reported-model.html.twig #}

<h2>Commentaire signalé</h2>

<p>
    Le commentaire de l'auteur {{ object.commentAuthor }} a été signalé par un utilisateur.
    Ce commentaire appartient à l'article suivant : {{ object.articleTitle }}.

</p>