{# app/Resources/views/mail/validate-model.html.twig #}

<img src="{{ image }}" /> <h2>Observons-nao</h2>

<p>
    Nos Amis les Oiseaux ont le plaisir de vous informer que
    votre observation <strong>"{{ object.title }}"</strong> a été validé !!!!
</p>

