{% extends 'base.html.twig' %}

{% block title %}
    Ajouter une observation - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container mt70">
        <h1>Ajouter une observation</h1>
    </div>
{% endblock %}