{% extends 'base.html.twig' %}

{% block title %}
    Contact - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container mt70">
        <h1>Contactez-nous</h1>
    </div>
{% endblock %}