{% extends 'base.html.twig' %}

{% block title %}
    Les observations - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container mt70">
        <h1>Les observations</h1>
    </div>
{% endblock %}