{% extends 'base.html.twig' %}

{% block title %}
    Qui sommes nous ? - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container mt70">
        <h1>Qui sommes nous ?</h1>
    </div>
{% endblock %}