{% extends 'base.html.twig' %}

{% block title %}
    Pourquoi ce site ? - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container mt70">
        <h1>Pourquoi ce site</h1>
    </div>
{% endblock %}