{% extends 'base.html.twig' %}

{% block title %}
    Pourquoi ce site ? - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container mt70">
        <h1>Pourquoi ce site</h1>
        <div class="card">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae erat augue. Praesent congue purus quis eros luctus pretium. Nullam eget vulputate nulla, venenatis auctor ante. Pellentesque turpis metus, convallis blandit tortor nec, pellentesque pellentesque nunc. Ut non arcu vitae nibh rhoncus iaculis. Fusce interdum, sapien quis posuere placerat, nibh est vestibulum lorem, et pellentesque magna mauris vitae mi. Proin id nisi ut erat placerat eleifend. Vestibulum in justo ex. Quisque eleifend tellus molestie, sollicitudin erat in, vestibulum ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit nisl sed nisl tincidunt tincidunt. Sed ultricies justo non euismod vehicula. Etiam nisl nulla, pellentesque vitae lacus ut, blandit varius nunc. In tempor, dui pellentesque convallis imperdiet, ligula libero iaculis libero, id viverra metus tellus at orci. Vivamus laoreet, turpis non sagittis iaculis, arcu mauris commodo eros, a tincidunt mauris neque eget lectus.
                Duis consectetur imperdiet augue, eu tempor nisi cursus ac. Sed mollis aliquam odio sit amet pulvinar. Nulla pellentesque augue at nisi faucibus, at egestas est porttitor. Nulla quis arcu in justo elementum ultrices. Nulla ut sem sed lacus vehicula condimentum. Nam eget erat faucibus, viverra nunc non, aliquam nisl. Cras sagittis dictum nisl, et tincidunt mauris tempus non. In a dolor sed leo scelerisque lacinia. Nunc eget euismod eros, id aliquam enim. Maecenas convallis augue est, id rutrum purus ornare quis. In cursus elit facilisis odio posuere condimentum. Sed vulputate diam lacus.
                Fusce in eros id velit accumsan blandit. Aliquam erat volutpat. Ut in mi et orci faucibus aliquet sit amet et quam. Duis aliquam quam eget tortor blandit, at iaculis sapien volutpat. Praesent vitae venenatis lectus, vel malesuada turpis. Phasellus consequat et metus eget finibus. Ut varius iaculis nibh quis dignissim. Praesent non nibh varius, condimentum nulla vestibulum, tincidunt metus. Cras luctus nunc eget nisi fermentum fringilla. Aenean volutpat condimentum semper. Vestibulum consectetur vulputate ex viverra varius. Integer eu urna ut libero consectetur finibus nec quis sem. Duis a ante eget velit luctus aliquet quis vitae lectus. Phasellus risus augue, fermentum a orci ac, scelerisque pulvinar metus.
                Nunc suscipit bibendum tortor, elementum molestie nisi molestie id. In id commodo libero, sed vulputate sem. Phasellus iaculis libero ipsum, quis dignissim dui lobortis quis. Sed et urna mollis, auctor ante non, pellentesque turpis. Donec porttitor sapien faucibus, pharetra lacus id, varius turpis. Pellentesque luctus, metus ut consectetur convallis, lorem justo blandit metus, at sagittis justo metus ac massa. Phasellus eget pretium mauris. Maecenas id sem leo. Nunc lacinia purus vitae dolor commodo maximus.
                Mauris non suscipit nisi. Mauris molestie sapien nec nulla ultrices suscipit. Fusce tempus odio feugiat ante congue, et sodales turpis blandit. Cras vulputate massa et est hendrerit ornare. Donec finibus nec mauris at congue. Suspendisse placerat ligula aliquam rutrum tempus. In at mi aliquet, consectetur ligula sed, molestie magna. Pellentesque quis fringilla nisl. Sed turpis tellus, elementum a dui ut, malesuada eleifend ante. Ut luctus posuere odio, eu ullamcorper felis efficitur eu. Morbi id leo in mi pulvinar mattis sed ac ex. Nullam ut metus in sapien maximus commodo nec eget tellus. Phasellus egestas pulvinar augue in tincidunt.
            </div>
        </div>
    </div>
{% endblock %}