<div class="input-group input-group-sm">
    {{ form_start(searchForm, {'attr': {'class': "d-md-flex d-none", 'action': path('results', {'page': 1}) }}) }}
    <span class="input-group-addon d-sm-block d-none">
        {{ form_widget(searchForm.filter, {'attr': {'class': 'filter-search bg-transparent'}}) }}
    </span>
    {{ form_widget(searchForm.search, {'attr': {'class': 'typeahead indexForm'}}) }}
    <span class="input-group-btn">
        <button type="submit" class="btn btn-nao-green">Rechercher</button>
    </span>
    {{ form_end(searchForm) }}
</div>
