<div class="searchbar-mobile d-md-none d-block">
    <button id="btn-search" class="btn-floating">
        <i class="fa fa-search" aria-hidden="true"></i>
    </button>
    {{ render(controller('AppBundle:Core:searchFieldMobile')) }}
</div>
<div class="overlay invisible"></div>

<!-- Desktop
-------------------------------------------------------------------------------->
<div id="searchbar-navbar" class="searchbar-desktop-navbar">
    <div class="d-md-flex d-none w-100">
        {{ render(controller('AppBundle:Core:searchField')) }}
    </div>
</div>
<div class="overlay-search-navbar invisible"></div>
